<!DOCTYPE html>
<html>
<head>
  <title>Darwin</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "alert alert-#{key}") %>
    <% end %>
    
    <% if current_user %>
      <%= render "shared/nav"%>
    <% else %>
      <%= link_to "Sign in", signin_path %> | Don't have an account? <%= link_to "Sign up", signup_path, class: "btn btn-large btn-primary" %>
    <% end %>
    
    <%= yield %>
  </div>

</body>
</html>